@using ClashRoyaleWarTracker.Web.ViewComponents
@model NavigationViewModel

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" href="/">
            <i class="fas me-1"></i>Home
        </a>
    </li>
    @if (Model.CanManageUsers)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/UserManagement">
                <i class="fas me-1"></i>User Management
            </a>
        </li>
    }
    @if (Model.CanViewWarHistory)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/WarHistories">
                <i class="fas me-1"></i>War History
            </a>
        </li>
    }
</ul>