@page
@model ScheduledTaskModel
@{
    ViewData["Title"] = "Scheduled Task Endpoint";
}

<h1>Scheduled Task Endpoint</h1>
<p>This endpoint is used for scheduled tasks. It should be called via HTTP GET with appropriate parameters.</p>

<h3>Usage:</h3>
<ul>
    <li><code>/ScheduledTask?task=weeklyupdate</code> - Run weekly update (1 week of data)</li>
</ul>